{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<h1>About Us</h1>
<p>Welcome to Bizzy, your trusted online marketplace for buying and selling products easily and securely.</p>
<p>At Bizzy, we aim to connect buyers and sellers in a seamless, transparent, and efficient manner.</p>
<p>Our mission is to provide a user-friendly platform for both buyers and sellers, ensuring a safe and enjoyable shopping experience.</p>
<style>
    @media (max-width: 768px) {
        p{
            font-size: 10px;
        }
        h1{
            font-size: 24px;
        }
    }

</style>
{% endblock %}
