{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<h1>Contact Us</h1>
<p>For support, reach us at <strong>support@bizzy.com</strong> or call <strong>+254793548688</strong>.</p>
<p>For general inquiries, email us at <strong>bizzyconnect@gmail.com</strong>.</p>
<p>For business partnerships, contact us at <strong>bizzybusiness@gmail.com</strong>.</p>
<style>
    @media (max-width: 768px) {
        p{
            font-size: 10px;
        }
        h1{
            font-size: 24px;
        }
    }

</style>
{% endblock %}
